.headline-navbar{
    font-family: 'Inconsolata', monospace;
    font-size: 2rem;
    color: #960822;
    
}

.card-navbar {
    background-color: #960822!important;
}

.card-title-navbar{
    font-size: 0.9rem;
}

.card-icon-navbar{
    font-size: 1.6rem;
    float: right;
    margin-left: 10px;
}

.icon-navbar{
    font-size: 1rem;
    font-weight: 600;
    float: right;
    margin-left: 25px;
    color: #960822!important;
}

hr.new1 {
    border-top: 2px solid #960822;
}